.createTitle {
    font-size: medium;
    color: rgb(80, 57, 185);
    text-align: center;
    
}

.createTab {
    font-size: medium;
    color: rgb(80, 57, 185);
    text-align: left;
    padding-bottom: 5em;
}

.inputTable {
  padding-left: 27em;
}

