.gpt3__brand section__padding {
    font-size: larger;
    color: rgb(80, 57, 185);
}

.exerciseTitle {
    font-size: larger;
    color: rgb(80, 57, 185);
}

.crud_section {
    font-size: larger;
    color: rgb(80, 57, 185);
}